/* 

input {
  outline: none;

  border: none;
  margin: 20px;
  cursor:crosshair;
}


body {
  background-color: #333333;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #0f0;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: cursor, monospace;
  font-size: 20px;
  overflow-x: hidden;
  min-height: 99%;
  width: 100%;
  min-width: 550px;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

::selection {
  color: #211830;
  background-color: #519975;
}

::-moz-selection {
  color: #211830;
  background-color: #519975;
}

.terminal {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  width: 50%;
}



input {
  background: transparent;
  font-family: cursor, monospace;
  border: none;
  color: #0f0;
  outline: none;
  font-size: 20px;
}


.p_ani {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
}

pre {
  font-family: cursor, monospace;
  color: #0f0;
  white-space: pre;
  /* Ensures that white spaces and new lines are preserved */
  animation: typing 0.5s steps(30, end);
}

.pre_ani {
  overflow: hidden;
  /* white-space: nowrap; */
  margin: 0;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
}

a {
  color: #23b1b1d2;
}

a {
  text-decoration: inherit;
}

a:hover {
  background: #73ABAD;
  color: #211830;
}

a:focus {
  outline: 0;
}